body{
    padding: 75px;
    font-family: "Raleway"
}

.jumbotron{
    padding: 25px;
}

.footer {
    text-align: center;
    padding: 20px; 
}

.puffbird-note{
    margin-bottom: 1px;
}

.note-accomplished {
    background-color: #E4FFE4;
}

.note-pending {
    background-color: #FFDADA;
}

.puffbird-note h4:hover{
    text-decoration: underline;
    cursor: pointer;
}

.puffbird-note:hover{
    background-color: #F5F5F5;
}

.btn-sm > img {
    width: 20px;
}