<span ng-class="{'label label-info': note.priority === 'low',
'label label-warning': note.priority === 'medium',
'label label-danger': note.priority === 'high'}">
{{note.priority}}
</span>&nbsp;
<span ng-class="{'label label-danger': !note.accomplished, 'label label-success': note.accomplished}">
{{note.accomplished ? 'done' : 'pending'}}
</span>&nbsp;
<span class="label label-primary">
<small>Due:</small>
<time>{{note.dueDate ? (note.dueDate | date:"EEEE MMM d, y HH:mm") : 'Timeless'}}</time>
</span>
<br>
<h4><strong>{{note.title}}</strong></h4>