<div class="jumbotron" ng-controller="NotesController as ctrl" ng-init="ctrl.loadNotes()">
  <div class="row">
    <div class="col-md-9">
      <h3>Dashboard</h3>
    </div>
    <div class="col-md-3">
      <div class="pull-right">
        <input type="button" class="btn btn-sm btn-primary" value="Create"
               ng-dialog="views/directives/createNote.html"
               ng-dialog-class="ngdialog-theme-plain"
               ng-dialog-controller="NotesController"
               ng-dialog-close-previous
               />
        <input type="button" class="btn btn-sm btn-primary" ng-click="ctrl.generateReport(filteredNotes)" value="Generate Report">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label for="tags" class="control-label">Search:</label>
        <input type="text" ng-model="tags" ng-list="," ng-trim="true" class="form-control" />
      </div>
      <div class="form-group">
        <label for="fromDate" class="control-label">Due From:</label>
        <div class="input-group">
          <!-- date-picker control -->
          <input type="text" name="fromDate" class="form-control" datepicker-popup="{{ctrl.format}}"
          ng-model="fromDate" is-open="ctrl.fromCalendarOpened" min-date="ctrl.minDate" max-date="toDate || ctrl.maxDate"
          datepicker-options="ctrl.dateOptions" close-text="Close" ng-init="fromDate = ctrl.today"/>
          <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar($event, 'from')">
          <i class="glyphicon glyphicon-calendar"></i>
          </button>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="toDate" class="control-label">Due To:</label>
        <div class="input-group">
          <!-- date-picker control -->
          <input type="text" name="toDate" class="form-control" datepicker-popup="{{ctrl.format}}"
          ng-model="toDate" is-open="ctrl.toCalendarOpened" min-date="fromDate || ctrl.minDate" max-date="ctrl.maxDate" 
          datepicker-options="ctrl.dateOptions" close-text="Close" ng-init="toDate = ctrl.endOfWeek"/>
          <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar($event, 'to')">
          <i class="glyphicon glyphicon-calendar"></i>
          </button>
          </span>
        </div>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="timeless" ng-checked="false"> Timeless
        </label>
      </div>
    </div>
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item puffbird-note" ng-class="{'note-pending': !note.accomplished, 'note-accomplished': note.accomplished}"
          ng-repeat="note in filteredNotes = (ctrl.notes
                    | dateRangeFilter:fromDate:toDate:timeless
                    | searchTermFilter:tags
                    | filter: {priority: priority, accomplished: status, isDeleted: false}
                    | orderBy: orderBy:orderType)">
          <div class="row">
            <div note="note" class="col-md-12"></div>
          </div>
        </li>
      </ul>
      <div ng-if="!filteredNotes.length"><h2>No notes to show</h2></div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="priority" class="control-label">Priority:</label>
        <select ng-init="priority = priority || ''" ng-model="priority" name="priority" class="form-control">
          <option value="" selected="selected">All</option>
          <option value="low">Low</option>
          <option value="medium">Medium</option>
          <option value="high">High</option>
        </select>
      </div>
      <div class="form-group">
        <label for="status" class="control-label">Status:</label>
        <select ng-init="status = status || ''" ng-model="status" name="status" class="form-control">
          <option value="" >All</option>
          <option value="true">Accomplished</option>
          <option value="false" selected="selected">Pending</option>
        </select>
      </div>
      <div class="form-group">
        <label for="orderBy" class="control-label">Order By:</label>
        <select ng-init="orderBy = orderBy || 'createdOn'" ng-model="orderBy" name="orderBy" class="form-control">
          <option value="createdOn">Created On</option>
          <option value="dueDate">Due Date</option>
        </select>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="orderType"> Descending
        </label>
      </div>
    </div>
  </div>
</div>
</div>
