<div id="footer" class="footer navbar" ng-controller="PageController as ctrl">
	<small>
	<strong>
	<a href="https://github.com/deniskyashif/puffbird" target="_blank">Open Source Project</a> <br>powered by:
	</strong>
	<a href="http://mongoosejs.com/">Mongoose</a>,&nbsp;
	<a href="http://expressjs.com/">Express</a>,&nbsp;
	<a href="http://angularjs.org/" target="_blank">AngularJS</a> and
	<a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a>
	<br>
	<strong>Author:</strong> <a href="https://github.com/deniskyashif" target="_blank">Denis Kyashif</a>
	</small>
</div>