<div class="navbar navbar-default navbar-fixed-top" ng-controller="PageController as ctrl">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">{{ctrl.title}}</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">Notes</a>
            </li>
            <li>
              <a href="#">Create</a>
            </li>
            <li>
              <a href="#">Feedback</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            
          </ul>

        </div>
      </div>
    </div>