<div class="navbar navbar-default navbar-fixed-top" ng-controller="PageController as pageCtrl">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <a href="#/" class="navbar-brand">{{pageCtrl.title}}</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-if="pageCtrl.identityService.isAuthenticated()" >
          <a href="#/notes">Notes</a>
        </li>
        <li>
          <a href="#/feedback">Feedback</a>
        </li>
      </ul>
      <ng-include src="'views/partials/account/account.html'"></ng-include>
    </div>
  </div>
</div>